<h1 id="title">About me</h1>

<dl>
	<dt>Email</dt>
	<dd><a href="mailto:nzure@leaft.ch">nzure@leaft.ch</a></dd>

	<dt>Codeberg</dt>
	<dd><a href="https://codeberg.org/nzure">codeberg.org/nzure</a></dd>

	<dt>Gitlab</dt>
	<dd><a href="https://gitlab.com/nzure">gitlab.com/nzure</a></dd>

	<dt>Threema</dt>
	<dd><a href="https://threema.id/44UYPCDN">44UYPCDN</a></dd>
</dl>

<p>
	I'm a young computer enthusiast from Switzerland (I'm sure you've guessed that from the domain).
	Naturally, this means that English is not my native language,
	so expect some errors here and there (Feel free to contact me regarding any language mistakes).
	I'm aiming to be a sofware engineer, although im too young to study at the moment.
	I'm a big fan of minimalism, which you can see more of in
	<a href="/software.html">Software that I use</a>.
</p>

<figure>
	<img src="/nzure.jpg" alt="Rin Toshaka drinking coffe from a can.">
	<figcaption>
		My current avatar on most platforms.
		Please send me an email if you find the original source of this image,
		as I'd like to credit the author
	</figcaption>
</figure>

<p>
	I started this website to have my own place in the web,
	because I don't like big tech and social media.
	Everyone should have their own website.
	You'd rather be a landlord than a peasant, right?
	Besides, almost every webpage in existence abuses javascript.
	This is a trend of "modern" web development which I can't stand,
	and I decided to take responsibility for it.
</p>
