<section>
	<h1>Welcome!</h1>
	<p>
		Welcome to my own, personal digital real estate.
		This is where I hold all my online presence,
		being a real landlord instead of a lowly peasant.
	</p>
	<p>
		You'll mostly find posts related to tech, linux, free and open source software and anime
		as well as my opinions on certain software (or soyware),
		companies and maybe politics / ethics.
		Other things that could land here are guides, recommendations, logical puzzles, source code
		or really anything. If you want to know more, visit <a href="/about.html">/about</a>.
	</p>
</section>

<section>
	<h1>Posts</h1>
	<div id="posts"></div>
</section>

