<h1>Software that I use</h1>

<nav id="toc"></nav>

<section>
	<h2>Linux</h2>
	<p>
		If you are using MacOS or, for goodness sake, Microsoyft Windows,
		then you aren't using an operating system. You're using a piece of malware
		<span class="fn"><a href="https://www.gnu.org/proprietary/malware-microsoft.html">www.gnu.org/proprietary/malware-microsoft.html</a></span>.
		Any person who wants to do real computation needs an operating system that: 

		<ol type="a">
			<li>Is free as in freedom (<em>libre</em>)</li>
			<li>Is Unix-like</li>
			<li>Runs on <q>old</q> hardware</li>
			<li>Is secure and respects my privacy</li>
			<li>Has good package management with more or less up to date software</li>
		</ol>
	</p>
	<p>
		This rules out most commonly used operating systems,
		including most Linux distros like Ubuntu, Debian, Manjaro, etc.
		The only remaining ones are probably Arch, Alpine and FreeBSD,
		out of which I picked Arch.
	</p>
</section>

<section>
	<h2>Window Managers</h2>
	<p>
		Desktop environments are way too resource intensive (aka <em>bloated</em>).
		I don't need all the bells and whistles just to display a few pixels on my screen
		(which is why I really like waylands simplicity).
		I usually have an X11 Window Manager or Wayland compositor,
		the same status bar on all my screens, a notification daemon and a dynamic menu.
	</p>
	<p>
		I generally prefer tiling window managers,
		mainly because they are keyboard centric, very predictable
		and make working with multiple monitors very efficient.
	</p>

	<h3>X11</h3>
	<p>
		On X11, I use the awesome window manager (<a href="https://awesomewm.org">awesomerm.org</a>).
		It is rather bloated compared to others like spectrwm and dwm,
		but I really like the configuration in lua.
		The launcher I use is the one integrated into awesome,
		and the notification daemon is dunst (<a href="https://dunst-project.org/">dunst-project.org/</a>).
	</p>

	<h3>Wayland</h3>
	<p>
		On Wayland, river is my daily driver
		(<a href="https://github.com/ifreund/river">github.com/ifreund/river</a>).
		At the time of writing this (September 2021), it is still in a early stage.
		However, it does everything I want in a really effective manner, which is all that matters.
		My statusbar is yambar (<a href="https://codeberg.org/dnkl/yambar">codeberg.org/dnkl/yambar</a>)
		or waybar <a href="https://github.com/Alexays/waybar"></a>),
		the menu/launcher is bemenu
		(<a href="https://github.com/Cloudef/bemenu">github.com/Cloudef/bemenu</a>)
		and my notification daemon is mako (<a href="https://github.com/emersion/mako">github.com/emersion/mako</a>).
		For display configuration I use kanshi
		(<a href="https://wayland.emersion.fr/kanshi/">wayland.emersion.fr/kanshi/</a>)
		All these tools are highly professional, and a real joy to use.
	</p>
</section>

<section>
	<h2>Browsers</h2>
	<p>
		Nobody wants one, but everyone needs one.
		Even though Mozilla is an embarassment of open source,
		It is the only way to keep at least some browser diversity.
		I know that chormium outclasses Firefox in almost every aspect,
		but giving Google a monopoly over the web is an obvious no-go.
	</p>

	<h3>Firefox Nightly</h3>
	<p>
		For general browsing, I use a hardened version of Firefox Nightly.
		I enhance it with plugins for tracker, canvas and CDN blocking,
		darkmode and vim bindings as well as a custom oneline CSS.
	</p>

	<h3>Brave</h3>
	<p>
		Brave is my goto-browser for all webapps (<a href="https://brave.com">brave.com</a>).
		It is rather secure but still allows for most spyapps to work
		(looking at you Office 365). Since I only use it for school, it is bearable.
	</p>
</section>

<section>
	<h2>The Terminal</h2>
	<p>
		Graphical user interfaces are fine if you don't know what you're doing.
		Once you grasp the power of certain command line tools,
		pipes and all the other good stuff you wish you'd have learned about them sooner.
		Working with plain text is refreshingly simple andmore
		compatible than anything else out there.
	</p>
	<p>
		The terminal emulator I use is Alacritty (<a href="https://alacritty.org/">alacritty.org/</a>).
		It is simple, fast and has support for Wayland and X11.
	</p>
</section>

<section>
	<h2>Software that I don't use</h2>
	<p>
		When picking software, I have a few rules that I follow.
		Absolute dealbreakers are
		<ul>
			<li>
				Proprietary garbage (except Games
				<span class="fn">I don't mind not being able to modify games, I regard it like a gamerule (although more FOSS games would be nice)</span>)
			</li>
			<li>Graphical programms which enforce a certain window size or position for no reason</li>
		</ul>

		Whenever I have the choice, I prefer to pick
		<ul>
			<li>Programms written in fast languages like C, Go, Nim, Rust, Zig instead of python soyware</li>
			<li>Minimalist tools with a clear feature scope</li>
			<li>Not GTK. Their client side decorations and header bar bullshit is just weird</li>
		</ul>
	</p>
</section>

<section id="footnotes"></section>
