<h1 id="title">Internet Independence</h1>
<time id="date" datetime="2021-08-10"></time>

<p>
	Hello!
</p>

<p>
	This is my first post here on my blog over at leaft.ch.
	I've had the idea of creating a website for a long time,
	and now its finally here. Not only can I post here what I like,
	I can also display my web development skills.
	Finding bloatfree websites is hard these times,
	and I am proud to say that mine is.
	It doesn't have any ads and will always be 100% usable without javascript.
	I seriously don't know why so many developers have their blogs on medium,
	blogger, dev.to or some other page.
	<span class="fn">These are probably those who shove megabytes of javascript down your throat.</span>
	If I know you and you want to host your own website, message me.
	My intention with leaft.ch was to provide a plattform for other non-technical people.
</p>

<p>
	Because I'm writing articles here, I won't be around other social media anymore.
	If you know me personally or from another site,
	chances are that you alreay know how to contact me.
	If not, I have a (small) list of contact possibilities on the about page (<a href="/about.html">/about</a>),
	and my email is <a href="mailto:nzure@leaft.ch">nzure@leaft.ch</a>.
</p>
