<h1 id="title">User directories in nginx</h1>
<time id="date" datetime="2021-11-01"></time>

<p>
	I run my own website, on a small rented vps.
	One part involved in hosting your own website is the choice of webserver.
	I decided to go with <a href="https://nginx.org">nginx</a>,
	a very popular one.
	After installing, I tried to figure out how to set up user directories.
	This means that going to <code>leaft.ch/~nzure</code> would serve the content
	in <code>/home/nzure/www</code>,
	thus allowing every user to have their own website.
</p>

<p>
	However, things didn't go as smooth as expected.
	Nginx kept complaining about permissions and files,
	throwing around 403's and 404's.
	And, as always, the internet had no answer.
	I managed to fix the problem eventually,
	so im here to present the solution
</p>

<p>
	First, add your server block to nginx.
	It should contain something like the code block below.
	The only magic here is the regex,
	which matches the urls mentioned above.
</p>

<pre class="code"><code language="nginx">server {
	server_name a.com;
	root /root;

	index index.html;

	location ~ ^/~(.+?)(/.*)?$ {
		alias /home/$1/www$2;
	}
}</code></pre>

<p>
	Next up is the most important part, file permissions.
	Your <code>home</code> directory should be <q>711</q> (or <q>drwxr-xr-x</q>),
	and <code>~/www</code> should be <q>755</q>.
	This allows nginx access to all the relevant files.
</p>

<p>
	That's it, it should work now.
	I still don't think that this is the ideal solution,
	but I couldn't find any better information on this toppic.
	Seems like not many people are interested in user directories,
	and more focused on proxies and gzipping.
</p>

<p>
	Until next time!
</p>
