// Colors
$dark-background-body: #1a1b26;
$dark-background: #1f2335;
$dark-background-alt: #292e42;
$dark-text-main: #9aa5ce;
$dark-text-bright: #a9b1d6;
$dark-link-color: #7aa2f7;
$dark-comment-color: #565f89;


// Mixins
@mixin wide {
	@media (min-width: 800px) {
		@content;
	}
}


// General containers
html {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	max-width: 800px;

	margin: auto;
	padding: 2ch;

	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
	line-height: 1.4;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@include wide { flex-direction: row; }
	
	nav {
		display: grid;
		grid-auto-flow: column;
		gap: 2ch;
	}
}

main {
	flex: 1;
	text-align: justify;
}

footer {
	text-align: end;
}


article {
	text-align: justify;
}

// Elements
h1 {
	font-size: 2.2em;
	margin-block-start: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-block-end: 1ch;
	margin-block-start: 1ch;
	font-weight: bold;
}

p {
	text-align: inherit;
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 2ch;
	row-gap: 0.5ch;
}
dt { font-weight: bold; }
dd { margin-inline-start: 0; }

q { font-style: italic; }

blockquote {
	margin-block: 2ch;
	margin-inline: 0;
	padding-block: 1ch;
	padding-inline: 1ch;

	border-inline-start-width: 2pt;
	border-inline-start-style: solid;

	cite {
		display: block;
		margin-block-start: 1ch;
	}
}

img, video {
	display: block;
	max-width: 100%;
	max-height: 40ch;
	margin-inline: auto;
}

caption, figcaption {
	caption-side: bottom;
	font-style: italic;
	text-align: center;

	margin-block-start: 1ch;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
td, th {
	padding: 0.5ch;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}
thead {
	border-block-end-style: solid;
	border-block-end-width: 1pt;
}

code, samp {
	padding-block: 1pt;
	padding-inline: 4pt;
	border-radius: 4pt;
	font-size: 1rem;
}
pre > code {
	padding: 2ch;
	display: block;
	overflow-x: auto;
}

mark {
	border-radius: 2pt;
	padding-block: 0;
	padding-inline: 2pt;
}

hr {
	border: none;
	border-block-start-style: solid;
	border-block-start-width: 1pt;
}

// Gimmicks
time#date-created {
	display: block;
	font-style: italic;
	margin-block-end: 2ch;
}

.fn {
	margin-inline-end: 1ch;
}

#posts > article > h2 {
	margin-block-end: 0;
}


// Colors
@media (prefers-color-scheme: light) {
	h1, h2, h3, h4, h5, h6, b, strong, th {
		color: $dark-text-bright;
	}

	mark { background-color: #c4c8da; }
	blockquote { border-inline-start-color: #34548a; }

	hr { border-block-start-color: #9699a3; }
	thead { border-block-end-color: #9699a3; }
	tr:nth-child(even) { background-color: #9699a3; }
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $dark-background-body;
		color: $dark-text-main;
	}
	h1, h2, h3, h4, h5, h6, b, strong, th {
		color: $dark-text-bright;
	}

	a { color: $dark-link-color; }

	mark {
		color: inherit;
		background-color: $dark-background-alt;
	}
	blockquote {
		background-color: $dark-background;
		border-inline-start-color: #34548a;
	}

	code {
		background-color: $dark-background;
	}

	hr { border-block-start-color: $dark-comment-color; }
	thead { border-block-end-color: $dark-comment-color; }
	table.checked tr:nth-child(even) { background-color: $dark-background; }
}
